Repository google/android-fhir, pull requests merged in 2021-11, with the labels that each got.

#906 Do not show soft keyboard on patient details card if it is opened on previous screen.
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemAutoCompleteViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextViewHolderFactory.kt
  reference/src/main/java/com/google/android/fhir/reference/PatientListFragment.kt
Labels: reference-app

#833 Support readOnly element.
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemAutoCompleteViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemCheckBoxGroupViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemCheckBoxViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDatePickerViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDateTimePickerViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDropDownViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextDecimalViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextIntegerViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextMultiLineViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextQuantityViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextSingleLineViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemMultiSelectHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemRadioGroupViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemSliderViewHolderFactoryInstrumentedTest.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemAutoCompleteViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemCheckBoxGroupViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemCheckBoxViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDatePickerViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDateTimePickerViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDialogSelectViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDisplayViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDropDownViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemGroupViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemRadioGroupViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemSliderViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemViewHolderFactory.kt
  datacapturegallery/src/main/java/com/google/android/fhir/datacapture/gallery/CustomNumberPickerFactory.kt
Labels: data-capture

#900 Always canonicalize quantity values
  engine/src/main/java/com/google/android/fhir/db/impl/entities/QuantityIndexEntity.kt
  engine/src/main/java/com/google/android/fhir/index/ResourceIndexer.kt
  engine/src/main/java/com/google/android/fhir/index/entities/QuantityIndex.kt
  engine/src/main/java/com/google/android/fhir/search/MoreSearch.kt
  engine/src/test/java/com/google/android/fhir/index/ResourceIndexerTest.kt
  engine/src/test/java/com/google/android/fhir/search/SearchTest.kt
Labels: Beta

#848 Implement inequality operators (<, >, <=, >=) in the enable when statement
  common/build.gradle.kts
  common/src/main/java/com/google/android/fhir/MoreTypes.kt
  common/src/test/java/com/google/android/fhir/MoreTypesTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextDecimalViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextQuantityViewHolderFactoryInstrumentedTest.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/enablement/EnablementEvaluator.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/enablement/EnablementEvaluatorTest.kt
Labels: data-capture

#787 Encrypt FHIR engine database via SQLCipher
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/LicenseeConfig.kt
  engine/build.gradle.kts
  engine/src/androidTest/java/com/google/android/fhir/db/impl/DatabaseEncryptionKeyProviderTest.kt
  engine/src/androidTest/java/com/google/android/fhir/db/impl/DatabaseImplTest.kt
  engine/src/androidTest/java/com/google/android/fhir/db/impl/EncryptedDatabaseErrorTest.kt
  engine/src/main/java/com/google/android/fhir/FhirEngineProvider.kt
  engine/src/main/java/com/google/android/fhir/FhirServices.kt
  engine/src/main/java/com/google/android/fhir/db/DatabaseEncryptionException.kt
  engine/src/main/java/com/google/android/fhir/db/impl/DatabaseEncryptionKeyProvider.kt
  engine/src/main/java/com/google/android/fhir/db/impl/DatabaseImpl.kt
  engine/src/main/java/com/google/android/fhir/db/impl/SQLCipherSupportHelper.kt
  reference/src/main/java/com/google/android/fhir/reference/FhirApplication.kt
Labels: Beta
