Repository google/android-fhir, pull requests merged in 2021-12, with the labels that each got.

#939 Read only view in questions/forms are too light.
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemBooleanTypePickerViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemCheckBoxGroupViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemCheckBoxViewHolderFactoryInstrumentedTest.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemAutoCompleteViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDatePickerViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDateTimePickerViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextViewHolderFactory.kt
  datacapture/src/main/res/color/box_stroke_color.xml
  datacapture/src/main/res/color/questionnaire_chip_text_color.xml
  datacapture/src/main/res/color/text_color.xml
  datacapture/src/main/res/layout/questionnaire_item_boolean_type_picker_view.xml
  datacapture/src/main/res/layout/questionnaire_item_check_box_view.xml
  datacapture/src/main/res/layout/questionnaire_item_date_picker_view.xml
  datacapture/src/main/res/layout/questionnaire_item_date_time_picker_view.xml
  datacapture/src/main/res/layout/questionnaire_item_drop_down_view.xml
  datacapture/src/main/res/layout/questionnaire_item_edit_text_auto_complete_view.xml
  datacapture/src/main/res/layout/questionnaire_item_edit_text_view.xml
  datacapture/src/main/res/layout/questionnaire_item_option_select_view.xml
  datacapture/src/main/res/values/attrs.xml
  datacapture/src/main/res/values/colors.xml
  datacapture/src/main/res/values/styles.xml
Labels: Bug, enhancement, Beta, high priority

#826 Update deprecated jacoco block to testCoverage in build files
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/JacocoConfig.kt
Labels: code health

#748 support max decimal extension
  datacapture/src/main/java/com/google/android/fhir/datacapture/validation/DecimalTypeMaxDecimalValidator.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/validation/PrimitiveTypeAnswerMaxLengthValidator.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/validation/QuestionnaireResponseItemValidator.kt
  datacapture/src/main/res/values/strings.xml
  datacapture/src/test/java/com/google/android/fhir/datacapture/validation/DecimalTypeMaxDecimalValidatorTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/validation/MaxValueConstraintValidatorTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/validation/MinValueConstraintValidatorTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/validation/PrimitiveTypeAnswerMaxLengthValidatorTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/validation/PrimitiveTypeAnswerMinLengthValidatorTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/validation/QuestionnaireResponseItemValidatorTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/validation/QuestionnaireResponseValidatorTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/validation/RegexValidatorTest.kt
Labels: data-capture

#922 Refactored DataCaptureConfig to a more standard android way like Configuration Provider
  datacapture/src/main/java/com/google/android/fhir/datacapture/DataCapture.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/DataCaptureConfig.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/QuestionnaireViewModel.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/mapping/ResourceMapper.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/QuestionnaireViewModelTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/mapping/ResourceMapperTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/testing/DataCaptureTestApplication.kt
  reference/src/main/java/com/google/android/fhir/reference/AddPatientViewModel.kt
  reference/src/main/java/com/google/android/fhir/reference/EditPatientViewModel.kt
  reference/src/main/java/com/google/android/fhir/reference/ScreenerViewModel.kt
Labels: Beta, code health, data-capture

#926 Change validateQuestionnaireResponseItems to allow questionnaire response with missing items
  datacapture/src/main/java/com/google/android/fhir/datacapture/QuestionnaireViewModel.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/validation/QuestionnaireResponseValidator.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/QuestionnaireViewModelTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/validation/QuestionnaireResponseValidatorTest.kt
  datacapturegallery/src/main/java/com/google/android/fhir/datacapture/gallery/QuestionnaireViewModel.kt
Labels: Bug, data-capture

#972 Fixed failing tests of AutoCompleteTextView for lower android versions.
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemAutoCompleteViewHolderFactoryInstrumentedTest.kt
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDropDownViewHolderFactoryInstrumentedTest.kt
Labels: Beta

#957 Handle InputeditText request focus to fix the application force close exception.
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextViewHolderFactory.kt
Labels: Beta, data-capture

#977 Set the error on the TextInputLayout instead of the AutoCompleteTextView
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemMultiSelectHolderFactoryInstrumentedTest.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDialogSelectViewHolderFactory.kt
Labels: Beta
