Repository google/android-fhir, pull requests merged in 2022-04, with the labels that each got.

#1233 Slider view subtitle text.
  catalog/src/main/assets/slider_questionnaire.json
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemSliderViewHolderFactory.kt
  datacapture/src/main/res/layout/questionnaire_item_slider.xml
Labels: Data capture

#1247 Datacapture, Flyover text as instruction text.
  datacapture/src/main/java/com/google/android/fhir/datacapture/MoreQuestionnaireItemComponents.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/MoreQuestionnaireItemComponentsTest.kt
Labels: Data capture

#1250 Add subtitle text in date and datetime picker view in data capture library
  catalog/src/main/assets/date_picker_questionnaire.json
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDatePickerViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDateTimePickerViewHolderFactory.kt
  datacapture/src/main/res/layout/questionnaire_item_date_picker_view.xml
  datacapture/src/main/res/layout/questionnaire_item_date_time_picker_view.xml
Labels: Data capture

#1248 Label as instruction text in textfield
  catalog/src/main/assets/text_fields_questionnaire.json
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextViewHolderFactory.kt
  datacapture/src/main/res/layout/questionnaire_item_edit_text_view.xml
Labels: Data capture

#1249 Add label to the drop down view in data capture library
  catalog/src/main/assets/dropdown-questionnaire.json
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDropDownViewHolderFactory.kt
  datacapture/src/main/res/layout/questionnaire_item_drop_down_view.xml
Labels: Data capture

#1257 Material date picker in data capture library
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDatePickerViewHolderFactory.kt
  datacapture/src/main/res/values/strings.xml
Labels: Data capture

#1232 Add subtitle text to single choice and multiple choice view in sdc.
  catalog/src/main/assets/multi_select_choice_questionnaire.json
  catalog/src/main/assets/single_choice_questionnaire.json
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemCheckBoxGroupViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemRadioGroupViewHolderFactory.kt
  datacapture/src/main/res/layout/questionnaire_item_checkbox_group_view.xml
  datacapture/src/main/res/layout/questionnaire_item_radio_group_view.xml
  datacapture/src/main/res/values/styles.xml
Labels: Data capture

#1296 Fixed keyboard now showing up in open-choice dialog.
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/OptionSelectDialogFragment.kt
  datacapture/src/main/res/layout/questionnaire_item_option_item_other_text.xml
Labels: Bug, Data capture

#1311 Stoping users from being able to input/edit date or time in the respective viewholders.
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDatePickerViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDateTimePickerViewHolderFactory.kt
Labels: Bug
