Repository google/android-fhir, pull requests merged in 2022-02, with the labels that each got.

#838 Add phone number widget to contrib package
  catalog/src/main/assets/patient-registration-paginated.json
  datacapture/src/androidTest/java/com/google/android/fhir/datacapture/contrib/views/QuestionnaireItemPhoneNumberViewHolderFactoryInstrumentedTest.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/MoreQuestionnaireItemComponents.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/QuestionnaireItemAdapter.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/QuestionnaireItemViewHolderType.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/contrib/views/QuestionnaireItemPhoneNumberViewHolderFactory.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/MoreQuestionnaireItemComponentsTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/QuestionnaireItemAdapterTest.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/QuestionnaireItemViewHolderTypeTest.kt
Labels: Enhancement, Data capture

#1127 Store remote version id for the resources and provide the version id for local change entity
  engine/src/androidTest/java/com/google/android/fhir/db/impl/DatabaseImplTest.kt
  engine/src/main/java/com/google/android/fhir/FhirEngine.kt
  engine/src/main/java/com/google/android/fhir/db/Database.kt
  engine/src/main/java/com/google/android/fhir/db/impl/DatabaseImpl.kt
  engine/src/main/java/com/google/android/fhir/db/impl/DbTypeConverters.kt
  engine/src/main/java/com/google/android/fhir/db/impl/dao/LocalChangeDao.kt
  engine/src/main/java/com/google/android/fhir/db/impl/dao/LocalChangeUtils.kt
  engine/src/main/java/com/google/android/fhir/db/impl/dao/ResourceDao.kt
  engine/src/main/java/com/google/android/fhir/db/impl/entities/LocalChangeEntity.kt
  engine/src/main/java/com/google/android/fhir/db/impl/entities/ResourceEntity.kt
  engine/src/main/java/com/google/android/fhir/impl/FhirEngineImpl.kt
  engine/src/main/java/com/google/android/fhir/resource/Resources.kt
  engine/src/main/java/com/google/android/fhir/sync/FhirSynchronizer.kt
  engine/src/test-common/java/com/google/android/fhir/resource/TestingUtils.kt
  engine/src/test/java/com/google/android/fhir/impl/FhirEngineImplTest.kt
Labels: Enhancement, FHIR engine

#1185 Change areItemsTheSame to check if internal objects are the same with ===
  datacapture/src/main/java/com/google/android/fhir/datacapture/QuestionnaireItemAdapter.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/contrib/views/barcode/QuestionnaireItemBarCodeReaderViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDropDownViewHolderFactory.kt
  datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemViewItem.kt
  datacapture/src/test/java/com/google/android/fhir/datacapture/QuestionnaireItemAdapterTest.kt
Labels: Data capture

#1084 Upload local changed resources using Bundle transaction
  demo/src/main/java/com/google/android/fhir/demo/api/HapiFhirService.kt
  demo/src/main/java/com/google/android/fhir/demo/data/HapiFhirResourceDataSource.kt
  engine/src/androidTest/java/com/google/android/fhir/db/impl/DatabaseImplTest.kt
  engine/src/main/java/com/google/android/fhir/ContentTypes.kt
  engine/src/main/java/com/google/android/fhir/FhirEngine.kt
  engine/src/main/java/com/google/android/fhir/db/impl/entities/LocalChangeEntity.kt
  engine/src/main/java/com/google/android/fhir/impl/FhirEngineImpl.kt
  engine/src/main/java/com/google/android/fhir/sync/DataSource.kt
  engine/src/main/java/com/google/android/fhir/sync/FhirSynchronizer.kt
  engine/src/main/java/com/google/android/fhir/sync/Uploader.kt
  engine/src/main/java/com/google/android/fhir/sync/bundle/BundleUploader.kt
  engine/src/main/java/com/google/android/fhir/sync/bundle/HttpVerbBasedBundleEntryComponentGenerator.kt
  engine/src/main/java/com/google/android/fhir/sync/bundle/HttpVerbBasedBundleEntryComponentImplementations.kt
  engine/src/main/java/com/google/android/fhir/sync/bundle/TransactionBundleGenerator.kt
  engine/src/test-common/java/com/google/android/fhir/resource/TestingUtils.kt
  engine/src/test/java/com/google/android/fhir/impl/FhirEngineImplTest.kt
  engine/src/test/java/com/google/android/fhir/sync/bundle/BundleUploaderTest.kt
  engine/src/test/java/com/google/android/fhir/sync/bundle/TransactionBundleGeneratorTest.kt
Labels: Enhancement, FHIR engine
